@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;

    /* For debugging */
    /* border: 1px solid red; */
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.section {
    flex: 1 1 0;
    padding: 50px 30px;
    /* bug */
    /* reference: https://github.com/philipwalton/flexbugs#flexbug-3 */
    /* Using flex: 1 with min-height: 100vh will give different
        height for each section  */
    /* flex: 1;  */
}

.header,
.first-section,
.footer {
    background-color: #1f2937;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-secondary,
a {
    font-size: 18px;
    color: #e5e7eb;
}

/* Header */
.header {
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9fAf8;
}

ul {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* First section */
.first-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.hero {
    max-width: 550px;
}

.hero-title,
.hero-text {
    margin-bottom: 10px;
}

.sign-up {
    width: 100px;
    height: 40px;
    padding: 5px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    border-radius: 5px;
}

.image {
    width: 300px;
    height: 200px;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    background-color: #70747c;
}

/* Second section */
.title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.image-box {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 16px;
    margin: 0 auto 10px;
}

.image-subtext {
    max-width: 150px;
    text-align: center;
    margin: 0 auto;
}

/* Third section */
.third-section {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

blockquote > p {
    max-width: 800px;
    font-size: 36px;
    font-style: italic;
    margin-bottom: 10px;
}

figcaption {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

/* Forth section */
.forth-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-container {
    display: flex;
    gap: 30px;
    padding: 30px;
    justify-content: center;
    align-items: center;

    background-color: #3882f6;
    color: #f9fAf8;

    border-radius: 16px;
    width: 600px;
}

.sign-up-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}