@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;

    /* For debugging */
    /* border: 1px solid red; */
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.section{
    flex: 1;
}

.header,
.first-section,
.footer {
    background-color: #1f2937;
}

/* Header */
.header {
    display: flex;
    padding: 10px 100px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9fAf8;
}

ul {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}